
body {
    padding-top: 60px;
}

h1, h2, h3 {
    color: #737373;
}
h1 {
    font-size: 48px;
}

div.container {
    max-width: none !important;
    width: 800px;
}

img.thumbphant {
   float: left;
   margin: 5px;
}

pre.boxcode {
    background-color: #333333;
    color: #f5f5f5;
    font-weight: bold;
}

div.footer p {
    padding-top: 20px;
    color: #444444;
    font-size: 12px;
}