<!DOCTYPE html>
<html>
<head>
    <title>PlacePhant - an image placeholder featuring elephpants</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <link href="/css/github-fork.css" rel="stylesheet" media="screen">
    <link href="/css/custom.css" rel="stylesheet" media="screen">

</head>
<body>

<div class="github-fork-ribbon-wrapper right">
    <div class="github-fork-ribbon">
        <a href="https://github.com/erikaheidi/placephant">Fork me on GitHub</a>
    </div>
</div>

<div class="container">


    <div class="row">
        <div class="col-xs-7">
            <h1>placephant</h1>

            <p>A Simple placeholder service for the PHP lovers out there, featuring lovely elephpants. </p>

            <h2>Usage:</h2>
            <p>Point the src of your images to placephant.com followed by desired width and height.</p>

            <pre class="boxcode">&lt;img src="http://placephant.com/300/300"&gt;</pre>
            <pre class="boxcode">&lt;img src="http://placephant.com/100/100"&gt;</pre>

            <h3>Coming Soon</h3>
            <ul>
                <li>Black and White option</li>
                <li>More image resources</li>
            </ul>
        </div>
        <div class="col-xs-5">
          <img src="/100/200" class="thumbphant" alt="Placeholder 100x200">
          <img src="/150/200" class="thumbphant" alt="Placeholder 150x200">
          <img src="/260/60" class="thumbphant" alt="Placeholder 260x60">
          <img src="/260/200" class="thumbphant" alt="Placeholder 260x200">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 footer">
            <p>brought to you by <a href="http://twitter.com/erikaheidi" title="my twitter">@erikaheidi</a>, inspired by <a href="http://twitter.com/michellesanver" title="Geekie, a.k.a. Michelle Sanver">@geekie</a></p>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
